body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #3494e6, #ec6ead);
}



header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #444;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.form-container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 16px;
}

button:hover {
    background-color: #45a049;
}

.error-message {
    color: #ff0000;
    margin-bottom: 16px;
}

.switch-text {
    text-align: center;
}

.transbox {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
    text-align: center;
    padding: 40px;
    color: #fff;
}

.main-title {
    color: #FFA500;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    background: linear-gradient(to right, #45a049, #86c232);
    border: none;
    color: white;
    padding: 14px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background: linear-gradient(to right, #86c232, #45a049);
    transform: scale(1.05);
}